.articleRow
	&:nth-child(2n)
		flex-direction: row-reverse
	@media screen and ( max-width: 767px )
		flex-direction: column-reverse
		& + &
			margin-top: 50px

.infoContainer
	padding-top: 60px
	@media screen and ( max-width: 767px )
		padding-top: 0

.title
	font-size: 1.562em
	margin-bottom: 30px
	display: inline-block
	&:hover
		color: #00897b

.image
	width: 100%
	height: 400px
	@media screen and ( max-width: 991px)
		height: 350px
	@media screen and ( max-width: 767px)
		display: none

.info
	display: flex
	align-items: center
	& + .info
		margin-left: 45px
	span
		margin-left: 15px

.description
	max-width: 470px
	margin-top: 30px