.promo
	background-size: cover
	background-repeat: no-repeat
	position: relative
	padding-top: 180px
	padding-bottom: 75px
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: #000
		opacity: .9
	@media screen and ( max-width: 1366px )
		padding-top: 145px
	@media screen and ( max-width: 767px )
		padding-top: 70px

.info
	color: #ffffff
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	text-align: center

.title
	font-size: 3.75em
	margin-bottom: 26px
	@media screen and ( max-width: 767px )
		font-size: 3em

.subtitle
	font-size: 1.375em
	@media screen and ( max-width: 767px )
		font-size: 1.3em

.buttonsContainer
	margin-top: 110px
	margin-bottom: 190px
	a + a
		margin-left: 25px
	@media screen and ( max-width: 1366px )
		margin-bottom: 160px
	@media screen and ( max-width: 767px )
		display: flex
		flex-direction: column
		margin-bottom: 100px
		a + a
			margin-left: 0
			margin-top: 25px