.promo
	background-image: url('../../images/promo-background.png')
	background-size: cover
	background-repeat: no-repeat
	height: calc(100vh - 137px)
	position: relative
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: #000
		opacity: .9

.info
	color: #ffffff
	display: flex
	flex-direction: column
	align-items: center

.title
	font-size: 3.75em
	margin-bottom: 26px

.subtitle
	font-size: 1.375em

.buttonsContainer
	margin-top: 110px
	button + button
		margin-left: 25px

.arrowContainer
	position: absolute
	left: 50%
	transform: translateX(-50%)
	bottom: 75px