.promo
	background-image: url('../../images/promo-background.png')
	background-size: cover
	background-repeat: no-repeat
	position: relative
	padding-top: 180px
	padding-bottom: 75px
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: #000
		opacity: .9
	@media screen and ( max-width: 1366px )
		padding-top: 145px

.info
	color: #ffffff
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

.title
	font-size: 3.75em
	margin-bottom: 26px

.subtitle
	font-size: 1.375em

.buttonsContainer
	margin-top: 110px
	margin-bottom: 190px
	button + button
		margin-left: 25px
	@media screen and ( max-width: 1366px )
		margin-bottom: 160px