@import "~bootstrap/scss/bootstrap"

body
	font-family: 'Open Sans', sans-serif
	color: #212121

a
	color: inherit
	outline: none
	text-decoration: none
	cursor: pointer
	transition: border-color 0.2s, color 0.2s
	&:hover,
	&:focus,
	&:active
		text-decoration: none
		outline: none
	&:hover
		color: inherit

button
	color: inherit
	outline: none
	text-decoration: none
	cursor: pointer
	transition: border-color 0.2s, color 0.2s, background-color 0.2s
	&:hover,
	&:focus,
	&:active
		text-decoration: none
		outline: none
	&:hover
		color: inherit

.textBold
	font-weight: 700

.textSemiBold
	font-weight: 600

.textLight
	font-weight: 300