.titleContainer
	display: flex
	flex-direction: column
	text-align: center
	margin-left: auto
	margin-right: auto
	margin-bottom: 130px
	max-width: 630px
	@media screen and ( max-width: 991px)
		margin-bottom: 80px
	@media screen and (max-width: 575px)
		margin-bottom: 40px
	.title
		text-transform: capitalize 
		font-size: 1.875em
		margin-bottom: 36px