.squareButton
	border: 3px solid #00897b
	border-color: #00897b
	background-color: #00897b
	font-weight: 700
	color: #ffffff
	text-transform: uppercase
	height: 70px
	width: 220px
	&:hover
		border-color: #ffffff

.transparentButton
	border-color: #ffffff
	background-color: transparent
	&:hover
		background-color: #ffffff
		color: #212121