.button
	letter-spacing: 1.5px

.roundButton
	border-width: 3px
	border-style: solid
	border-radius: 10px
	font-weight: 700
	text-transform: uppercase
	height: 55px
	width: 150px
	display: inline-block
	text-align: center
	line-height: 49px

.squareButton
	border-width: 3px
	border-style: solid
	font-weight: 700
	text-transform: uppercase
	height: 55px
	width: 150px
	display: inline-block
	text-align: center
	line-height: 49px
	&:hover
		border-color: #ffffff

.transparentButton
	border-color: #ffffff
	background-color: transparent
	&:hover
		background-color: #ffffff
		color: #212121

.greenButton
	color: #ffffff
	border: 3px solid #00897b
	border-color: #00897b
	background-color: #00897b
	&:hover
		color: #ffffff
		background-color: #016e63
		border-color: #016e63

.grayButton
	border: 2px solid #212121
	border-color: #212121
	background-color: #ffffff
	color: #212121
	&:hover
		color: #fff
		background-color: #00897b
		border-color: #00897b

.whiteButton
	border-color: #ffffff
	background-color: #fff
	color: #212121
	&:hover
		color: #000000

.transparentGrayButton
	border: 3px solid #212121
	border-color: #212121
	background-color: transparent
	&:hover
		border-color: #ffffff

.expandableButton
	width: auto
	padding-left: 20px
	padding-right: 20px

.bigButton
	height: 70px
	width: 220px
	line-height: 64px

.mediumButton
	height: 60px
	width: 170px
	line-height: 54px
