.cardCol + .cardCol
	@media screen and ( max-width: 991px )
		margin-top: 60px
.card
	background-color: #fff
	display: flex
	flex-direction: column
	padding-bottom: 60px
	align-items: center
	transition: box-shadow .2s, border-radius .2s
	overflow: hidden
	&:hover
		border-top-left-radius: 30px
		border-bottom-right-radius: 30px
		box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35)
	@media screen and ( max-width: 991px )
		max-width: 400px
		margin-left: auto
		margin-right: auto



.titleContainer
	height: 220px
	color: #ffffff
	text-align: center
	padding-top: 50px
	margin-bottom: 40px
	width: 100%
	transition: border-radius .2s
	background-color: #3949ab
	@media screen and ( min-width: 992px )
		background-image: url('../../../images/pricing-background.png')
		background-repeat: no-repeat
		background-size: cover

.title
	line-height: 1
	font-size: 1.562em
	margin-bottom: 40px

.priceContainer
	display: flex
	justify-content: center

.price
	font-size: 3.125em
	margin-bottom: auto
	line-height: 1
	margin-left: 2px
	margin-right: 2px

.dollar
	font-size: 1.562em
	margin-bottom: auto

.advantagesList
	width: 100%
	padding: 0
	list-style: none
	text-align: center
	margin-bottom: 70px
	li
		line-height: 1
		padding-bottom: 15px
		position: relative
		&::before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 1px
			background-color: #bfbfbf
		& + li
			margin-top: 35px
